<div class="container ">
    <div class="all-button">
        <button class="btn btn-warning mt-4" (click)="randomNum01()">{{randomNum1}}</button>
        <button class="btn btn-warning mt-4" (click)="randomNum02()">{{randomNum2}}</button>
        <button class="btn btn-warning mt-4" (click)="randomNum03()">{{randomNum3}}</button>
        <button class="btn btn-warning mt-4" (click)="randomNum04()">{{randomNum4}}</button>
        <button class="btn btn-warning mt-4" (click)="randomNum05()">{{randomNum5}}</button>
        <button class="btn btn-warning mt-4" (click)="randomNum06()">{{randomNum6}}</button>
    </div>
    <div class="select">
        <h1>You have Selected this Number</h1>
        <div>
            <input type="number" value="{{result}}">
        </div>
    </div>
</div>
